.circular-square {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius:50% 50% ;
    border-bottom-left-radius: 50% 50%;
}
.name-heading {
    font-weight: 800;
    text-decoration:underline;
    text-decoration: brown;
    text-transform: capitalize;

}
.mt20 {
    margin-top: 20px;
}