.circular-square {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius:50% 50% ;
    border-bottom-left-radius: 50% 50%;
}
.name-heading {
    font-weight: 800;
    

}
.mt20 {
    margin-top: 20px;
}
.margin-none {
    margin 1000px;
}
.name-heading {
    text-align: center;
}
.circular-square {
    float:left
}
